*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Lobster', cursive;
    font-family: 'Mochiy Pop P One', sans-serif;

    ul {
        margin: 0; 
        padding:0
      }
}

h1
{
    font-family: 'Lobster', cursive;
    color: map-get($colores, primario);
    font-size: 70px;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.images{
    @include gridRows(1fr);
    grid-template-columns: repeat(3, 1fr);
}

.lineLeft{
    background-image: url(../Imágenes/left.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.lineRight{
    background-image: url(../Imágenes/right.jpg);
    background-repeat: no-repeat;
    background-position: left;
}

.logo
{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.sectionTitle{
    text-align: center;
    margin-top: 15px;
}