.navListContainer
{
    background-color: map-get($colores, primario);
    text-align: center;
    list-style: none;

    section{
        @extend %flexColumn;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    a{
        text-decoration: none;
        color: map-get($colores, blanco);

        &:hover{
            color: map-get($colores, negro);
        }
    }
}


@media screen and (min-width: 700px) {

    .navListContainer
    {
        @include gridRows(1fr);
        grid-template-columns: repeat(7, 1fr);
        list-style: none;
        height: 50px;
        background-color: map-get($colores, primario);
        text-align: center;
    }    
}

.navButton:hover
{
    background-color: map-get($colores, secundario);
}