@import 'variables';
@import 'general';
@import 'nav';
@import 'footer';
@import 'index';
@import './Páginas/nosotros';
@import './Páginas/servicios';
@import './Páginas/ofertasLaborales';
@import './Páginas/contacto';
@import './Páginas/contratar';
