.aboutUs
{
    @extend %flexColumn;
    text-align: center;
    align-items: center;
}

.aboutUsImage
{
    background-image: url(../../Imágenes/rrhh2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
}