.serviceSectionContainer
{
    @include gridRows(1fr 1fr 1fr);  
}    

@media screen and (min-width: 768px) {

    .serviceSectionContainer
    {
        @include gridRows(1fr);  
        grid-template-columns: 1fr 1fr 1fr;
    }    
}

.sectionContainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 

.circle
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: map-get($colores, secundario);
    margin:30px 100px;

    img{
        width: 82px;
        height: 82px;
        margin-top: 35px; 
    }
    
}


/* Animaciones/transformaciones*/
.magnifyingGlassIcon:hover
{
    animation: circleMove 0.5s;
    animation-iteration-count: infinite;
    animation-duration: 0.2s;
    animation-delay: 0s;
}

@keyframes circleMove 
{
    0%{
        transform: translate(0px, 5px);
    }
    5%{
        transform: translate(1px, 4px);
    }
    10%{
        transform: translate(2px, 3px);
    }
    15%{
        transform: translate(3px, 2px);
    }
    20%{
        transform: translate(4px, 1px);
    }
    25%{
        transform: translate(5px, 0px);
    }
    30%{
        transform: translate(4px, -1px);
    }
    35%{
        transform: translate(3px, -2px);
    }
    40%{
        transform: translate(2px, -3px);
    }
    45%{
        transform: translate(1px, -4px);
    }
    50%{
        transform: translate(0px, -5px);
    }
    55%{
        transform: translate(-1px, -4px);
    }
    60%{
        transform: translate(-2px, -3px);
    }
    65%{
        transform: translate(-3px, -2px);
    }
    70%{
        transform: translate(-4px, -1px);
    }
    75%{
        transform: translate(-5px, 0px);
    }
    80%{
        transform: translate(-4px, 1px);
    }
    85%{
        transform: translate(-3px, 2px);
    }
    90%{
        transform: translate(-2px, 3px);
    }
    95%{
        transform: translate(-1px, 4px);
    }
    100%{
        transform: translate(0px, 5px);
    }
}

.graduationHatIcon:hover{
    animation: sideMove 0.5s;
    animation-iteration-count: infinite;
    animation-duration: 0.2s;
    animation-delay: 0s;
}

@keyframes sideMove 
{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
}


.quizIcon:hover{
    animation: zoomAndsideMove 0.5s;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-delay: 0s;
}

@keyframes zoomAndsideMove 
{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
